name: Bygg pull request

on: [pull_request_target]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
      - uses: actions/setup-java@v2
        with:
          java-version: 16
          distribution: 'adopt'
      - name: Hent tag
        run: echo "TAG=$(git log -1 --pretty='%ad' --date=format:'%Y%m%d%H%M%S')-$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV
      - name: Build
        shell: bash
        env:
          GITHUB_USERNAME: x-access-token
          GITHUB_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          echo "Building $TAG"
          mvn --batch-mode --quiet -Dsonar.login=${SONAR_LOGIN}  --settings ./.github/.m2/settings.xml -Dsha1=$TAG  org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
